input {
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
}

.mainPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #778899;
}

.titleContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  text-transform: capitalize;
}

.array {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  padding: 0 10px;
  border-radius: 5px;
  flex: 1;
  border: 2px solid black;
  background-color: #fff5ee;
}

.arrayElements {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 100%;
  border-bottom: 1px dashed black;
}

.elementContainer {
  display: flex;
  flex: 1;
}

.element {
  font-size: 20px;
  cursor: pointer;
}

.clicked {
  font-size: 20px;
  text-decoration: line-through;
  color: red;
}

.crossContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  cursor: pointer;
}

.cross {
  font-size: 14px;
}

.formSubmit {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  justify-content: center;
}

.input {
  display: flex;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: large;
  text-align: center;
  height: 25px;
  width: 200px;
  border: 2px solid black;
  padding: 5px;
  outline: none;
}

.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  height: 15px;
  width: 15px;
  border-radius: 25%;
  margin-left: 35px;
  padding: 5px;
}
